__pycache__/
*.pyc
.autoupdate
version.txt
discord-autocompress-setup.zip
*.mp4
*.mkv
*.mov
*.webm
*_discord_*.mp4
_d2p_passlog*
.discord_overlay.json
.discord_toolbox.json
.discord_autowatch.json
build_pyi/
dist/
*.spec
appicon.ico
*_discord_*.webp
*_discord_*.mp3
